<div *ngIf="currentOrder">
  <div class="col-12 text-details mt-3">
    <div>
      Dziękujemy za zakupy w KKWJ! Pod spodem znajdziesz podsumowanie
      zamówienia.
    </div>
    <div>
      Na adres mailowy: {{ email }} został wysłany email z potwierdzeniem
      zamówienia i ze szczegółami dotyczącymi przesyłki.
    </div>
    <div class="mb-5">
      Jeśli masz jakieś pytania przejdź do zakładki
      <a routerLink="/contact">Kontakt</a>. Zapraszamy ponownie!
    </div>
    <div class="summary-text">Podsumowanie zamówienia</div>
  </div>
  <div class="col-5">
    <div class="row" *ngFor="let product of currentOrder.orderProducts">
      <app-cart-product
        [product]="product"
        [finishedOrder]="true"
      ></app-cart-product>
    </div>
  </div>
  <div class="payment">
    <app-cart-payment
      [cartAmount]="currentOrder.amount"
      [finishedOrder]="true"
    ></app-cart-payment>
  </div>
</div>
