@import "src/styles/variables";

.text-details {
  font-size: 20px;
  text-align: center;

  .summary-text {
    font-size: 17px;
    font-weight: bold;
  }
}

.col-5 {
  margin-left: 300px;

  .row {
    height: 180px;
    margin-top: 15px;
  }
}

.payment {
  text-align: center;
  margin-left: 1200px;
  position: fixed;
  top: 150px;
}
