<ng-container
  *ngIf="
    (currentOrder$ | async).orderProducts?.length === 0;
    then emptyOrder;
    else notEmptyOrder
  "
>
</ng-container>

<ng-template #emptyOrder>
  <app-empty-cart></app-empty-cart>
</ng-template>

<ng-template #notEmptyOrder>
  <app-not-empty-cart
    [currentOrder]="currentOrder$ | async"
  ></app-not-empty-cart>
</ng-template>
