.container {
  margin-top: 150px;

  .title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }

  .description {
    text-align: center;
    font-size: large;

    p {
      font-weight: bold;
      font-style: italic;
    }
  }
}
