<div class="container">
  <div class="title">Gratulację!</div>
  <div class="description">
    Udało Ci się poprawnie zarejestrować! Wysłaliśmy email potwierdzający na
    skrzynkę
    <p>{{ userEmail$ | async }}</p>
    Po potwierdzeniu rejestracji będziesz mógł w pełni korzystać z naszego
    sklepu! Dziękujemy!
  </div>
</div>
