<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container col-3">
  <div class="text">{{ title }}</div>
  <form [formGroup]="resetFormGroup" (ngSubmit)="submit()">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="password"
        ><em class="fa fa-lock"></em
      ></span>
      <input
        name="password"
        class="form-control"
        appBlockCopyPaste
        placeholder="Hasło*"
        type="password"
        formControlName="password"
        aria-describedby="password"
      />
      <div class="errors">
        <div
          *ngIf="
            errors.length === 0;
            then passwordFrontendValidation;
            else passwordBackendValidation
          "
        ></div>
      </div>
      <app-password-strength
        [passwordToCheck]="resetFormGroup.value.password"
        (passwordStrength)="isPasswordValid($event)"
      ></app-password-strength>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="confirmedPassword"
        ><em class="fa fa-lock"></em
      ></span>
      <input
        name="confirmedPassword"
        class="form-control"
        appBlockCopyPaste
        appConfirmPassword="password"
        placeholder="Powtórz hasło*"
        type="password"
        formControlName="confirmedPassword"
        aria-describedby="confirmedPassword"
      />
      <div class="errors">
        <div
          *ngIf="
            errors.length === 0;
            then confirmedPasswordFrontendValidation;
            else confirmedPasswordBackendValidation
          "
        ></div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success w-100"
      [disabled]="resetFormGroup.invalid"
    >
      <span class="glyphicon glyphicon-ok"></span> {{ button }}
    </button>
  </form>
</div>

<ng-template #passwordFrontendValidation>
  <div
    *ngIf="
      !resetFormGroup.get('password').value &&
      !resetFormGroup.get('password').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      resetFormGroup.get('password').errors &&
      resetFormGroup.get('password').errors.pattern &&
      !resetFormGroup.get('password').untouched
    "
  >
    {{ patternValidation }}
  </div>
</ng-template>

<ng-template #passwordBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'password' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
    <div *ngIf="error.field === 'password' && error.code === 'Pattern'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #confirmedPasswordFrontendValidation>
  <div
    *ngIf="
      !resetFormGroup.get('confirmedPassword').value &&
      !resetFormGroup.get('confirmedPassword').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      resetFormGroup.controls['confirmedPassword'].hasError(
        'appConfirmPassword'
      ) && !resetFormGroup.get('confirmedPassword').untouched
    "
  >
    {{ passwordValidation }}
  </div>
</ng-template>

<ng-template #confirmedPasswordBackendValidation>
  <div *ngFor="let error of errors">
    <div
      *ngIf="error.field === 'confirmedPassword' && error.code === 'NotNull'"
    >
      {{ error.message }}
    </div>
  </div>
</ng-template>
