<div class="container">
  <div class="text">
    Super! Udało Ci się zmienić hasło! Możesz teraz w 100% korzystać ze swojego
    konta.
  </div>

  <div class="buttons">
    <button class="btn btn-success" routerLink="/login">
      <span class="glyphicon glyphicon-user"></span> Zaloguj się
    </button>
    <button class="btn btn-success ml-5" routerLink="/home">
      <span class="glyphicon glyphicon-home"></span> Wróć do strony głównej
    </button>
  </div>
</div>
