.container {
  text-align: center;

  .text {
    font-size: x-large;
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
  }

  .buttons {
    display: inline-block;

    button {
      height: 30px;
      width: 150px;
      margin-top: 50px;
      text-align: center;
      font-size: 15px;
    }
  }
}
