@import "src/styles/variables";

.container {
  text-align: center;
  border: 2px solid $green;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10%;

  .text {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
  }

  button {
    font-size: 15px;
  }
}
