<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let ad of ads">
    <ng-template carouselSlide>
      <img [src]="ad" height="355" alt="advert" />
    </ng-template>
  </ng-container>
</owl-carousel-o>
