<div class="container">
  <div class="title-line">{{ title }}</div>
  <owl-carousel-o [options]="customOptions" class="text-center">
    <ng-container *ngFor="let product of products">
      <ng-template carouselSlide>
        <a [routerLink]="['/products', product.categoryName, product.id]">
          <img
            [src]="product.img"
            [alt]="product.name"
            [title]="product.name"
          />
        </a>
        <p class="font-weight-bold h4">{{ product.name }}</p>
        <p class="font-italic h5">{{ product.weight }} g</p>
        <p class="price">{{ product.price | priceFormat }}</p>
        <button
          type="submit"
          class="btn btn-success"
          (click)="addToOrder(product.id)"
        >
          {{ addToOrderButton }}
        </button>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
