@import "src/styles/variables";

.container {
  height: 400px;

  .title-line {
    font-weight: bold;
    font-size: large;
    border-bottom: 10px solid $green;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .price {
    font-weight: bold;
    color: $red;
    font-size: medium;
  }
}
