.formHeader {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.messageHeader {
  font-size: large;
  text-align: justify;
}

.photos {
  height: 250px;

  img {
    width: 100%;
    height: auto;
  }
}
