<div class="container justify-content-center">
  <div class="row">
    <div class="formHeader h1">
      <p>{{ companyName }} - {{ title }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="messageHeader">
        {{ mainMessage }}
      </div>
    </div>
  </div>
  <div class="row photos">
    <div class="col-4">
      <img src="assets/photo1.jpg" alt="Photo 1" />
    </div>
    <div class="col-4">
      <img src="assets/photo3.jpg" alt="Photo 2" />
    </div>
    <div class="col-4">
      <img src="assets/photo4.jpg" alt="Photo 3" />
    </div>
  </div>
  <div class="row photos">
    <div class="col-4">
      <img src="assets/photo5.jpg" alt="Photo 4" />
    </div>
    <div class="col-4">
      <img src="assets/photo6.jpg" alt="Photo 5" />
    </div>
    <div class="col-4">
      <img src="assets/photo7.jpg" alt="Photo 6" />
    </div>
  </div>
</div>
