<div *ngIf="currentOrder">
  <div class="order-summary">
    <div class="col-12">
      <h4 class="text-center font-weight-bold">Podsumownie zamówienia</h4>
      <div class="row" *ngFor="let product of currentOrder.orderProducts">
        <div class="col-4 text-center mt-2">
          <img
            src="{{ product.img }}"
            width="40px"
            height="40px"
            alt="product"
          />
          <span class="numberCircle">{{ product.quantity }}</span>
        </div>
        <div class="col-4 product-name">
          <div class="center-position">
            {{ product.name }}
          </div>
        </div>
        <div class="col-4 product-price">
          <div class="bottom-position">
            {{ product.price | priceFormat }}
          </div>
        </div>
      </div>
    </div>
    <div class="row delivery">
      <div class="col-6 center-position">Koszt wysyłki</div>
      <div class="col-6 amount-right font-weight-bold">Bezpłatna</div>
    </div>
    <div class="row amount">
      <div class="col-6 center-position">Razem</div>
      <div class="col-6 amount-right">
        {{ currentOrder.amount | priceFormat }}
      </div>
    </div>
  </div>
</div>
