@import "src/styles/variables";

.order-summary {
  margin-top: 20px;
  border: 1px solid green;
  border-radius: 10px;

  .row {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid $green;
    height: 50px;
  }

  .product-name {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    text-align: left;

    .center-position {
      position: absolute;
      top: 15px;
    }
  }

  .product-price {
    color: darkred;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    position: relative;

    .bottom-position {
      position: absolute;
      bottom: 0;
      right: 5px;
    }
  }

  .amount {
    font-weight: bold;
    font-size: 15px;
    border-top: 2px solid black;
    margin-top: 20px;
    height: 50px;
    position: relative;
  }

  .amount-right {
    position: absolute;
    right: 0;
    top: 15px;
    text-align: right;
  }

  .delivery {
    height: 30px;
    position: relative;
    font-size: 10px;
    font-style: italic;
  }

  .numberCircle {
    border-radius: 50%;
    background: red;
    color: white;
    padding: 8px;
    font: 8px Arial;
    position: relative;
    font-weight: bolder;
    left: -20px;
    top: -10px;
  }
}
