<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="col-12" *ngIf="paymentFormGroup">
  <div class="card-title mt-3 text-center title">Karta kredytowa</div>
  <div class="card-title mt-3 font-italic h4">
    Wprowadź poniżej dane dotyczące płatności
  </div>
  <form [formGroup]="paymentFormGroup" (ngSubmit)="submit()">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="ownerFirstName"
        ><em class="fa fa-user"></em
      ></span>
      <input
        type="text"
        name="ownerFirstName"
        class="form-control"
        formControlName="ownerFirstName"
        placeholder="Imię*"
        aria-describedby="ownerFirstName"
      />
      <input
        type="text"
        name="ownerLastName"
        class="form-control"
        formControlName="ownerLastName"
        placeholder="Nazwisko*"
        aria-describedby="ownerFirstName"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then nameValidation"></div>
      </div>
    </div>
    <!-- form-group// -->

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="cardNumber"
        ><em class="fa fa-credit-card"></em
      ></span>
      <input
        #cardNumber
        type="text"
        placeholder="Numer Karty*"
        class="form-control"
        maxlength="19"
        appCreditCardInput
        aria-describedby="cardNumber"
      />
      <input
        type="hidden"
        formControlName="cardNumber"
        name="cardNumber"
        [ngModel]="cardNumber.value | whiteLines"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then creditCardValidation"></div>
      </div>
    </div>
    <!-- form-group// -->

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text"><em class="fa fa-calendar"></em></span>
      <select
        name="expirationMonth"
        class="form-control equal-height"
        formControlName="expirationMonth"
      >
        <option value="" selected disabled hidden>Miesiąc</option>
        <option *ngFor="let month of months">{{ month }}</option>
      </select>
      <select
        name="expirationYear"
        class="form-control equal-height"
        formControlName="expirationYear"
      >
        <option value="" selected disabled hidden>Rok</option>
        <option *ngFor="let year of years">{{ year }}</option>
      </select>
      <input
        name="cvv"
        type="text"
        placeholder="CVV*"
        class="form-control"
        maxlength="3"
        formControlName="cvv"
      />
    </div>
    <!-- form-group// -->
    <div class="errors">
      <div *ngIf="errors.length === 0; then cvvValidation"></div>
    </div>
    <div class="errors">
      <div *ngIf="errors.length === 0; then dateValidation"></div>
    </div>

    <div class="errors" *ngIf="paymentConfirmed === false">
      <div>
        {{ serverNotApprovedMessage }}
      </div>
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success btn-block w-100"
        [disabled]="paymentFormGroup.invalid"
      >
        Potwierdzenie zamówienia
      </button>
    </div>
    <!-- form-group// -->
  </form>
</div>

<ng-template #nameValidation>
  <div
    *ngIf="
      (!paymentFormGroup.get('ownerFirstName').value &&
        !paymentFormGroup.get('ownerFirstName').untouched) ||
      (!paymentFormGroup.get('ownerLastName').value &&
        !paymentFormGroup.get('ownerLastName').untouched)
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #creditCardValidation>
  <div
    *ngIf="
      !paymentFormGroup.get('cardNumber').value &&
      !paymentFormGroup.get('cardNumber').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      paymentFormGroup.get('cardNumber').errors &&
      paymentFormGroup.get('cardNumber').errors.pattern &&
      !paymentFormGroup.get('cardNumber').untouched
    "
  >
    {{ creditCardPatternValidation }}
  </div>
</ng-template>

<ng-template #dateValidation>
  <div
    *ngIf="
      (!paymentFormGroup.get('expirationMonth').value &&
        !paymentFormGroup.get('expirationMonth').untouched) ||
      (!paymentFormGroup.get('expirationYear').value &&
        !paymentFormGroup.get('expirationYear').untouched) ||
      (!paymentFormGroup.get('cvv').value &&
        !paymentFormGroup.get('cvv').untouched)
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #cvvValidation>
  <div
    *ngIf="
      paymentFormGroup.get('cvv').errors &&
      paymentFormGroup.get('cvv').errors.pattern &&
      !paymentFormGroup.get('cvv').untouched
    "
  >
    {{ cvvPatternValidation }}
  </div>
</ng-template>
