<div *ngIf="paymentConfirmed" class="col-12">
  <div *ngIf="step >= 2 && creditCard" class="row mt-4">
    <div class="col-6">
      <ul>
        <li>
          Credit Card o koncówce:
          <span class="font-weight-bold">{{
            creditCard.cardNumber | creditCard
          }}</span>
        </li>
        <li>
          Traci ważność:
          <span class="font-weight-bold"
            >{{ creditCard.expirationMonth }} /{{
              creditCard.expirationYear
            }}</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
