@import "src/styles/variables";

mat-expansion-panel {
  margin-top: 20px;
  background-color: $grey;
  border: 1px solid $grey;
}

.mat-expansion-panel-body {
  border-top: 3px solid white;
}

ul {
  list-style: none;
  padding: 0;

  li {
    font-size: 12px;
    padding: 3px;
  }
}

.title {
  font-size: 15px;
  border-bottom: 1px solid $green;
  font-weight: bold;
}
