<div *ngIf="address">
  <div class="row justify-content-center">
    <div class="col-4">
      <mat-accordion hideToggle>
        <mat-expansion-panel
          [expanded]="step === 0"
          (opened)="setStep(0)"
          [disabled]="step === 1 || step === 2"
        >
          <mat-expansion-panel-header>
            <app-panel-header
              [step]="step"
              [index]="1"
              [title]="'Adres wysyłki'"
              (stepEmitter)="setStep($event)"
            ></app-panel-header>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-address
              (changeStep)="setStep(1)"
              (addressEmitter)="setDelivery($event)"
              (invoiceEmitter)="setInvoice($event)"
              [address]="address"
              [addresses]="addresses"
            ></app-address>
          </ng-template>
        </mat-expansion-panel>
        <app-address-summary-info
          [address]="address"
          [invoice]="invoice"
          [step]="step"
        >
        </app-address-summary-info>
        <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          [disabled]="step === 0 || step === 2"
        >
          <mat-expansion-panel-header>
            <app-panel-header
              [step]="step"
              [index]="2"
              [title]="'Płatność'"
              (stepEmitter)="setStep($event)"
            ></app-panel-header>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-payment
              (changedStep)="setStep(2)"
              (paymentEmitter)="setPayment($event)"
              (creditCardEmitter)="cardIsValidated($event)"
            ></app-payment>
          </ng-template>
        </mat-expansion-panel>
        <app-payment-summary-info
          [creditCard]="creditCard"
          [step]="step"
          [paymentConfirmed]="paymentConfirmed"
        >
        </app-payment-summary-info>
        <mat-expansion-panel
          [expanded]="step === 2"
          (opened)="setStep(2)"
          [disabled]="step === 0 || step === 1"
        >
          <mat-expansion-panel-header>
            <app-panel-header
              [step]="step"
              [index]="3"
              [title]="'Potwierdzenie zamówienia'"
              (stepEmitter)="setStep($event)"
            ></app-panel-header>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-regulation
              (regulationEmitter)="placeOrder($event)"
            ></app-regulation>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="errors">
        {{ orderProblemMessage }}
      </div>
    </div>
    <div class="col-2">
      <app-order-summary
        (orderEmitter)="setCurrentOrder($event)"
      ></app-order-summary>
    </div>
  </div>
</div>
