<div class="row justify-content-center mt-5">
  <div class="col-4 login-border">
    <app-login-form></app-login-form>
  </div>
  <div class="col-2"></div>
  <div class="col-4 guest-border">
    <app-guest-order></app-guest-order>
  </div>
</div>
<div>
  <app-order-information></app-order-information>
</div>
