@import "src/styles/variables";

p {
  font-size: medium;
  font-style: italic;
}

.guest-border {
  background: $grey;
  border-radius: 20px;
}

.login-border {
  border: 3px solid $green;
  border-radius: 20px;
}
