<div>
  <p class="title">Kontynuuj jako gość</p>
  <p>
    Kontynuuj składanie zamówienia; pod koniec będziesz mieć możliwość założenia
    konta, jeśli jeszcze go nie posiadasz.
  </p>
  <div>
    <button class="btn btn-success btn-block" [routerLink]="['../checkout-2']">
      Kontynuuj
    </button>
  </div>
</div>
