@import "src/styles/variables";

p {
  font-size: medium;
  font-style: italic;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 3%;
}

button {
  font-size: 15px;
  width: 100%;
}
