<div class="row mt-5 justify-content-center">
  <div class="col-4">
    <p class="faq-title">Terminy dostawy</p>
    <p class="faq-text">{{ deliveryInfo }}</p>
  </div>
  <div class="col-2">
    <p class="faq-title">Metody płatności</p>
    <p class="faq-text">{{ paymentMethods }}</p>
  </div>
  <div class="col-4">
    <p class="faq-title">Zwrot produktu</p>
    <p>Bezpłatne zwroty</p>
    <p class="faq-text">{{ freeReturns }}</p>

    <p>Warunki zwrotu</p>
    <p class="faq-text">{{ returnRequirements }}</p>

    <p>Procedura zglaszania zwrotu</p>
    <p class="faq-text">{{ returnProcedure }}</p>
  </div>
</div>
