ul {
  list-style: none;
  padding: 0;
}

.btn {
  border: 2px solid forestgreen;
  background-color: #e4ffe2;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffa845;
  background-color: #7fff6e;
}

.btn:hover {
  background-color: #aaa;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.first-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.functionality-button {
  border-radius: 5px;
  width: 120px;
  height: 25px;
  font-weight: bold;
}

.functionality-button:hover {
  background-color: #aaa;
}

.functionality-button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.edit-button {
  border: none;
  background: none;
  color: blue;
  padding: 0;
  font-size: 12px;
}

.delete-button {
  border: none;
  background: none;
  padding: 0;
  color: blue;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.delete-button:hover {
  color: red;
}

.edit-button:hover {
  color: red;
}

.delete-wrapper {
  position: relative;
  width: 100%;
}

.active-button {
  outline: none;
  box-shadow: 0 0 0 3px #ffa845;
  background-color: #7fff6e;
}

.main-address-sign {
  position: absolute;
  right: -2px;
  top: -2px;
  font-weight: bold;
  font-style: italic;
  border: 2px solid green;
  background-color: #cccccc;
}
