<div class="col-12 justify-content-center">
  <div *ngIf="addresses">
    <button
      *ngFor="let address of addresses; let i = index"
      (click)="selectAddress(address, i)"
      [ngClass]="{ 'active-button': selectedAddress && i === clickedButton }"
      class="col-5 btn"
    >
      <div class="main-address-sign" *ngIf="address.main">GŁÓWNY</div>
      <ul class="mt-2">
        <li>{{ address.firstName }} {{ address.lastName }}</li>
        <li>{{ address.email }}</li>
        <li>{{ address.phoneNumber }}</li>
        <li>{{ address.street }}</li>
        <li>
          {{ address.city }} {{ address.postCode }}, {{ address.country }}
        </li>
      </ul>
      <button class="edit-button" (click)="editAddress(address)">EDYTUJ</button>
      <div *ngIf="!address.main">
        <div class="delete-wrapper">
          <button class="delete-button" (click)="deleteAddress(address, i)">
            USUŃ
          </button>
        </div>
      </div>
    </button>
    <div class="wrapper">
      <button
        class="functionality-button btn-success"
        (click)="addNewAddress()"
      >
        Dodaj nowy adres
      </button>
      <button
        class="functionality-button btn-success ml-5"
        type="submit"
        (click)="goToPayment()"
        [disabled]="!selectedAddress || addresses.length === 0"
      >
        Przejdź do płatności
      </button>
    </div>
  </div>
</div>
