/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";
@import "src/styles/variables.scss";

.errors {
  text-align: left;
  color: $red;
  font-size: small;
  width: 100%;
}

.nav-item.active {
  color: $red !important;
}

.owl-carousel .owl-nav .owl-prev {
  background-color: $green;
}

.owl-carousel .owl-nav .owl-prev {
  background-color: $green;
}

.owl-carousel .owl-nav .owl-next {
  background-color: $green;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $green;
}

.mat-expansion-panel-body {
  border-top: 5px solid $white;
}

.cdk-overlay-container {
  position: absolute;
  top: 25%;
  left: 50%;
  margin: -70px 0 0 -170px;
  z-index: 2;
}

.mat-dialog-container {
  background-color: #e6ffe5;
  border: 2px solid $black;
  max-width: 409px;
}

.backdropBackground {
  position: fixed;
  top: 0;
  left: 0;
  background: $grey;
  z-index: -1;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}

.numberCircle {
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  color: $white;
  font-weight: bolder;
  background: $red;
  position: absolute;
  right: 0;
  top: -5px;
}

input.ng-invalid.ng-touched {
  border: $red 2px solid;
}

input.ng-valid.ng-touched {
  border: $green 2px solid;
}

textarea.ng-invalid.ng-touched {
  border: $red 2px solid;
}

textarea.ng-valid.ng-touched {
  border: $green 2px solid;
}

select.ng-invalid.ng-touched {
  border: $red 2px solid;
}

select.ng-valid.ng-touched {
  border: $green 2px solid;
}
