<div class="container" *ngIf="product">
  <div class="title">
    {{ product.name }} - {{ product.weight }} g -
    {{ product.categoryName.toUpperCase() }}
  </div>
  <div class="row">
    <div class="col-4">
      <img
        [src]="product.img"
        [alt]="product.name"
        [title]="product.name"
        height="400px"
        width="400px"
      />
    </div>
    <div class="col-4">
      <ul class="details">
        <li *ngFor="let fact of facts">
          <span class="glyphicon glyphicon-ok-sign"></span> {{ fact }}
        </li>
      </ul>
      <ul>
        <div class="quality-bullets">
          <div>
            <img src="/assets/realizacja-top.png" alt="realizacja-top" />
            <div>{{ qualityFacts[0] }}</div>
          </div>
          <div>
            <img src="/assets/polski-produkt.png" alt="polski-prodult" />
            <div>{{ qualityFacts[1] }}</div>
          </div>
          <div>
            <img
              src="/assets/gwarancja-jakosci-top.png"
              alt="gwarancja-jakosci"
            />
            <div>{{ qualityFacts[2] }}</div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-4 left-line">
      <ul class="product-details">
        <li>
          <label>SMAK</label>
          <p>{{ product.taste }}</p>
        </li>
        <li>
          <label>WAGA</label>
          <p>{{ product.weight | weight }}</p>
        </li>
        <li>
          <label>KATEGORIA</label>
          <p>{{ product.categoryName }}</p>
        </li>
        <li>
          <label>ILOŚĆ</label>
          <p>
            <input
              type="number"
              size="20"
              [(ngModel)]="quantity"
              (change)="setPrice()"
              [min]="1"
              [max]="9"
            />
          </p>
        </li>
        <li class="price">
          <label>CENA</label>
          {{ finalPrice | priceFormat }}
        </li>
      </ul>
      <button
        type="submit"
        class="btn btn-success btn-block w-50 text-center mt-5"
        (click)="addToOrder(product.id, quantity)"
      >
        {{ addToOrderButton }}
      </button>
    </div>
  </div>
</div>
