@import "src/styles/variables";

.container {
  height: 500px;
  margin-top: 3%;
  border-bottom: 5px solid $green;
  border-radius: 5px;

  .title {
    border-bottom: 5px solid $green;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
  }

  .details {
    margin-left: 10px;
    list-style-type: none;

    li {
      font-size: 15px;
    }

    .glyphicon {
      color: $green;
    }
  }

  .quality-bullets {
    text-align: center;
    font-style: italic;
    color: $green;
    font-weight: bold;
    font-size: large;
  }

  .left-line {
    border-left: 5px solid $green;

    .product-details {
      list-style-type: none;
      display: inline-block;
    }

    li {
      font-size: large;
    }

    input {
      width: 65px;
      text-align: center;
      border: 2px solid $green;
      border-radius: 5px;
      display: block;
    }

    .price {
      font-weight: bold;
      color: $red;
      font-size: large;
    }

    label {
      color: $green;
      border-bottom: 5px solid $green;
      font-weight: bold;
      font-style: italic;
    }

    button {
      margin-left: 25%;
      height: 50px;
      border-radius: 10px;
      font-size: large;
    }
  }
}
