<div *ngIf="!getCookieLawSeen">
  <div class="my-background">
    <div class="container formHeader mx-auto">
      <div class="row">
        <div class="col-lg">
          <header class="bg-success">
            {{ title }}
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-lg cookieMessage">
          <p>{{ message }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg">
          <a
            href="../../../assets/cookie-policy.pdf"
            download="cookie-policy.pdf"
            >{{ downloadMessage }}</a
          >
        </div>
      </div>

      <div class="row">
        <div class="col-lg">
          <button class="btn-success btn-lg" (click)="acceptCookiesPolicy()">
            {{ acceptButton }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
