@import "src/styles/variables";

.my-background {
  position: fixed;
  top: 0;
  left: 0;
  background: $grey;
  opacity: 0.96;
  z-index: 998;
  height: 100%;
  width: 100%;

  .formHeader {
    width: 500px;
    z-index: 999;
    margin-top: 200px;
    background-color: $white;
    border: solid 4px $green;
    border-radius: 20px;

    header {
      font-size: large;
      font-weight: bold;
      text-align: center;
    }

    .cookieMessage {
      font-size: medium;
      text-align: justify;
    }

    a {
      font-size: small;
      font-style: italic;
    }

    button {
      text-align: center;
      width: 100px;
      cursor: pointer;
      margin-left: 180px;
    }
  }
}
