<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="register-container">
      <article class="card-body mx-auto p-0">
        <div class="card-title mt-3 text-center title">
          {{ registerButton }}
        </div>
        <form [formGroup]="registerFormGroup" (ngSubmit)="submit()">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="firstName"
              ><em class="fa fa-user"></em
            ></span>
            <input
              type="text"
              name="firstName"
              class="form-control"
              formControlName="firstName"
              placeholder="Imię*"
              aria-describedby="firstName"
            />
            <input
              type="text"
              name="lastName"
              class="form-control"
              formControlName="lastName"
              placeholder="Nazwisko*"
              aria-describedby="basic-addon1"
            />
            <div class="errors">
              <div
                *ngIf="
                  errors.length === 0;
                  then nameFrontendValidation;
                  else nameBackendValidation
                "
              ></div>
            </div>
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="email"
              ><em class="fa fa-envelope"></em
            ></span>
            <input
              #userEmail
              name="email"
              type="email"
              class="form-control"
              formControlName="email"
              appBlockCopyPaste
              placeholder="Email*"
              aria-describedby="email"
              (blur)="emailExists(userEmail)"
            />
            <div class="errors">
              <div
                *ngIf="
                  errors.length === 0;
                  then emailFrontendValidation;
                  else emailBackendValidation
                "
              ></div>
            </div>
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="birthDate"
              ><em class="fa fa-birthday-cake"></em
            ></span>
            <input
              name="birthDate"
              type="date"
              class="form-control"
              formControlName="birthDate"
              placeholder="Data urodzenia*"
              aria-describedby="birthDate"
            />
            <div class="errors">
              <div
                *ngIf="
                  errors.length === 0;
                  then birthFrontendValidation;
                  else birthBackendValidation
                "
              ></div>
            </div>
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="phone"
              ><em class="fa fa-phone"></em
            ></span>
            <input
              type="text"
              name="phoneNumber"
              class="form-control"
              placeholder="Telefon"
              formControlName="phoneNumber"
              aria-describedby="phone"
            />
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="password"
              ><em class="fa fa-lock"></em
            ></span>
            <input
              name="password"
              class="form-control"
              appBlockCopyPaste
              placeholder="Hasło*"
              type="password"
              formControlName="password"
              aria-describedby="password"
            />
            <div class="errors">
              <div
                *ngIf="
                  errors.length === 0;
                  then passwordFrontendValidation;
                  else passwordBackendValidation
                "
              ></div>
            </div>
            <app-password-strength
              [passwordToCheck]="registerFormGroup.value.password"
              (passwordStrength)="isPasswordValid($event)"
            ></app-password-strength>
          </div>

          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="confirmedPassword"
              ><em class="fa fa-lock"></em
            ></span>
            <input
              name="confirmedPassword"
              class="form-control"
              appBlockCopyPaste
              appConfirmPassword="password"
              placeholder="Powtórz hasło*"
              type="password"
              formControlName="confirmedPassword"
              aria-describedby="confirmedPassword"
            />
            <div class="errors">
              <div
                *ngIf="
                  errors.length === 0;
                  then confirmedPasswordFrontendValidation;
                  else confirmedPasswordBackendValidation
                "
              ></div>
            </div>
          </div>

          <div>
            <div
              *ngFor="let approval of approvals$ | async; let i = index"
              formArrayName="approvals"
            >
              <div *ngIf="approval.required">
                <mat-checkbox
                  (change)="changeCheckbox($event.checked, approval)"
                  [checked]="approval.isAccepted"
                >
                  <span *ngIf="approval.required"
                    ><strong>{{ approval.title }}*</strong></span
                  >
                </mat-checkbox>
              </div>

              <div *ngIf="!approval.required">
                <mat-checkbox
                  (change)="changeCheckbox($event.checked, approval)"
                  [checked]="approval.isAccepted"
                >
                  <span *ngIf="!approval.required">{{ approval.title }}</span>
                </mat-checkbox>
              </div>

              <div [hidden]="approval.isShown">
                <a
                  (click)="displayApprovalDescription(approval)"
                  class="colored justify-content-center"
                  >Pokaż szczegóły</a
                >
              </div>

              <div [hidden]="!approval.isShown">
                <div *ngIf="approval.required">
                  <strong>{{ approval.description }}</strong>
                </div>
                <div *ngIf="!approval.required">{{ approval.description }}</div>
                <a (click)="displayApprovalDescription(approval)">Zwiń</a>
              </div>

              <div class="errors">
                <div *ngIf="errors.length === 0">
                  <div
                    *ngIf="
                      !approval.isAccepted &&
                      approval.isTouched &&
                      approval.required
                    "
                  >
                    {{ fieldValidation }}
                  </div>
                </div>
                <div *ngIf="errors.length !== 0">
                  <div *ngFor="let error of errors">
                    <div
                      *ngIf="
                        error.field === 'Approvals' &&
                        error.code === 'ApprovalsNotAccepted' &&
                        !approval.isAccepted &&
                        approval.required
                      "
                    >
                      {{ error.message }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group// -->

          <div class="captcha">
            <re-captcha
              (resolved)="acceptRecaptcha()"
              siteKey="6Lf9EO8UAAAAAEM7DSCU_UFfGV-FzegjENyV1A3g"
              [formControl]="registerFormGroup.controls['recaptcha']"
            ></re-captcha>
            <div class="errors">
              <div
                *ngIf="errors.length !== 0; then recaptchaBackendValidation"
              ></div>
            </div>
          </div>

          <div class="form-group pb-2">
            <button
              type="submit"
              class="btn btn-success btn-block w-100"
              (click)="emitEmail(userEmail)"
              [disabled]="
                registerFormGroup.invalid ||
                (emailExists$ | async) ||
                registerFormGroup.hasError('approvalsNotAccepted')
              "
            >
              {{ createAccount }}
            </button>
          </div>
          <!-- form-group// -->

          <div class="form-group pb-2">
            <button type="reset" class="btn btn-danger btn-block w-100">
              {{ resetFormButton }}
            </button>
          </div>
          <!-- form-group// -->

          <p class="text-center">
            Masz już konto? <a routerLink="/login">{{ loginButton }}</a>
          </p>
        </form>
      </article>
    </div>
    <!--container end.//-->
  </div>
  <div class="col-lg-6">
    <h4 class="card-title mt-3 text-center title">{{ registerTitle }}</h4>
    <h5 class="card-title mt-3 text-center h3">{{ registerMessage }}</h5>
    <div *ngFor="let desc of registerDescription" class="list">
      <span class="glyphicon glyphicon-ok"></span> {{ desc }}
    </div>
  </div>
</div>

<ng-template #nameFrontendValidation>
  <div
    *ngIf="
      (!registerFormGroup.get('firstName').value &&
        !registerFormGroup.get('firstName').untouched) ||
      (!registerFormGroup.get('lastName').value &&
        !registerFormGroup.get('lastName').untouched)
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #nameBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'firstName' && error.code === 'NotEmpty'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #emailFrontendValidation>
  <div
    *ngIf="
      !registerFormGroup.get('email').value &&
      !registerFormGroup.get('email').untouched
    "
  >
    {{ fieldValidation }}
  </div>

  <div
    *ngIf="
      registerFormGroup.get('email').errors &&
      registerFormGroup.get('email').errors.pattern &&
      !registerFormGroup.get('email').untouched
    "
  >
    {{ emailValidation }}
  </div>
  <div *ngIf="emailExists$ | async">{{ emailExistsValidation }}</div>
</ng-template>

<ng-template #emailBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'email' && error.code === 'NotEmpty'">
      {{ error.message }}
    </div>
    <div *ngIf="error.field === 'email' && error.code === 'Email'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #birthFrontendValidation>
  <div
    *ngIf="
      !registerFormGroup.get('birthDate').value &&
      !registerFormGroup.get('birthDate').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #birthBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'birthDate' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #passwordFrontendValidation>
  <div
    *ngIf="
      !registerFormGroup.get('password').value &&
      !registerFormGroup.get('password').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      registerFormGroup.get('password').errors &&
      registerFormGroup.get('password').errors.pattern &&
      !registerFormGroup.get('password').untouched
    "
  >
    {{ patternValidation }}
  </div>
</ng-template>

<ng-template #passwordBackendValidation>
  <div *ngFor="let error of errors">
    <div
      *ngIf="
        error.field === 'password' &&
        error.code === 'NotEmpty' &&
        registerForm.password.length === 0
      "
    >
      {{ error.message }}
    </div>
    <div
      *ngIf="
        error.field === 'password' &&
        error.code === 'Pattern' &&
        registerForm.password.length !== 0
      "
    >
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #confirmedPasswordFrontendValidation>
  <div
    *ngIf="
      !registerFormGroup.get('confirmedPassword').value &&
      !registerFormGroup.get('confirmedPassword').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      registerFormGroup.controls['confirmedPassword'].hasError(
        'appConfirmPassword'
      ) && !registerFormGroup.get('confirmedPassword').untouched
    "
  >
    {{ passwordValidation }}
  </div>
</ng-template>

<ng-template #confirmedPasswordBackendValidation>
  <div *ngFor="let error of errors">
    <div
      *ngIf="error.field === 'confirmedPassword' && error.code === 'NotEmpty'"
    >
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #recaptchaBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'recaptcha' && error.code === 'AssertTrue'">
      {{ error.message }}
    </div>
  </div>
</ng-template>
