@import "src/styles/variables";

button {
  height: 50px;
  font-size: medium;
}

p {
  font-size: medium;
  font-style: italic;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
}

.list {
  font-size: large;
  height: 20px;
  padding-top: 10px;
  margin: 0 0 30px 0;
}

.captcha {
  padding: 10px 0 10px 0;
}
.checkboxes {
  top: 5px;
}

a {
  color: $blue;
  cursor: pointer;
}
