<div class="row">
  <div class="col-2 logo">
    <img [src]="logo[0]" alt="logo" />
    <p class="logoText">{{ logo[1] }}</p>
  </div>
  <div *ngFor="let up of ups; let i = index" class="col-2 mx-auto text-center">
    <img [src]="up[0]" alt="logo details" />
    <p class="logoText">{{ up[1] }}</p>
    <p class="details">{{ up[2] }}</p>
  </div>
</div>
