@import "src/styles/variables";

.logo {
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;

  .logoText {
    font-size: small;
    font-weight: bold;
    color: $green;
  }

  .details {
    font-size: 15px;
  }
}
