<div class="row justify-content-around mt-5">
  <div class="col-4">
    <app-login-form></app-login-form>
  </div>

  <div class="col-5">
    <h4 class="card-title mt-3 text-center title">{{ registerTitle }}</h4>
    <h5 class="card-title mt-3 text-center h3">{{ registerMessage }}</h5>
    <div *ngFor="let desc of registerDescription" class="list">
      <span class="glyphicon glyphicon-ok"></span> {{ desc }}
    </div>
  </div>
</div>
