<div class="container col-3 justify-content-center">
  <div class="title">{{ forgetPasswordTitle }}</div>
  <div class="message">{{ forgetPasswordMessage }}</div>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
    <div>
      <input
        name="email"
        class="form-control"
        placeholder="Email*"
        type="email"
        formControlName="userEmail"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then emailFrontendValidation"></div>
      </div>
    </div>
    <!-- form-group// -->

    <div class="captcha">
      <re-captcha
        (resolved)="acceptRecaptcha()"
        siteKey="6Lf9EO8UAAAAAEM7DSCU_UFfGV-FzegjENyV1A3g"
        formControlName="recaptchaAccepted"
      ></re-captcha>
      <div class="errors">
        <div *ngIf="errors.length !== 0; then recaptchaBackendValidation"></div>
      </div>
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success btn-block w-100"
        [disabled]="forgetPasswordForm.invalid"
      >
        {{ sendButton }}
      </button>
    </div>
    <!-- form-group// -->
  </form>
</div>

<ng-template #emailFrontendValidation>
  <div
    *ngIf="
      !forgetPasswordForm.get('userEmail').value &&
      !forgetPasswordForm.get('userEmail').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      forgetPasswordForm.controls['userEmail'].hasError('emailDoesntExists') &&
      !forgetPasswordForm.get('userEmail').untouched
    "
  >
    {{ emailNotExistsValidation }}
  </div>
</ng-template>

<ng-template #recaptchaBackendValidation>
  <div *ngFor="let error of errors">
    <div
      *ngIf="error.field === 'isRecaptchaAccepted' && error.code === 'NotNull'"
    >
      {{ error.message }}
    </div>
    <div
      *ngIf="
        error.field === 'isRecaptchaAccepted' && error.code === 'AssertTrue'
      "
    >
      {{ error.message }}
    </div>
  </div>
</ng-template>
