@import "src/styles/variables";

.container {
  border: 2px solid $green;
  border-radius: 10px;
  background-color: $grey;
  padding: 15px;
  margin-top: 10%;

  .captcha {
    transform: scale(0.75);
    transform-origin: 0 0;
  }

  .title {
    font-size: large;
    font-weight: bold;
    text-align: center;
  }

  .message {
    font-size: medium;
  }

  input {
    margin: 10px 0 10px 0;
    height: 30px;
  }

  button {
    height: 30px;
    font-size: medium;
    margin-top: -10px;
  }
}
