<div class="content">
  <app-header></app-header>
  <app-cookie-law *ngIf="!acceptedCookiePolicy()"></app-cookie-law>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="sticky-footer">
    <app-footer></app-footer>
  </div>
</div>
