@import "src/styles/variables";

.content {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .container-fluid {
    padding: 0;
  }

  .sticky-footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
