@import "src/styles/variables";

.summary-payment {
  font-weight: bold;
  font-size: 20px;
}

.amount {
  color: $darkred;
  font-size: 20px;
  font-weight: bold;
}

.payment-button {
  height: 30px;
  width: 200px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
}
