<div class="row">
  <div class="col-4 text-center">
    <img src="{{ product.img }}" width="140px" height="140px" alt="product" />
  </div>
  <div class="col-3 p-0">
    <ul [ngStyle]="{ 'font-weight': finishedOrder ? 'bolder' : '' }">
      <li class="product-name">{{ product.name }}</li>
      <li>{{ product.categoryName }}</li>
      <li>{{ product.taste }}</li>
      <li>{{ product.weight | weight }}</li>
      <li *ngIf="!finishedOrder">
        <button class="btn-danger" (click)="subtractFromOrder(product.id)">
          -
        </button>
        <input
          type="number"
          id="quantity"
          class="text-center"
          size="20"
          value="{{ product.quantity | cartProduct }}"
        />
        <button class="btn-success" (click)="addToOrder(product.id)">+</button>
      </li>
      <li *ngIf="finishedOrder">Ilość: {{ product.quantity }}</li>
    </ul>
  </div>
  <div class="col-3 text-center">
    <div class="product-price">{{ product.price | priceFormat }}</div>
  </div>
  <div class="col-2" *ngIf="!finishedOrder">
    <div>
      <button
        class="btn-danger delete-button"
        (click)="deleteFromOrder(product.id)"
      >
        X
      </button>
    </div>
  </div>
</div>
