@import "src/styles/variables";

.row {
  height: 180px;
  border-bottom: 3px solid $green;
  margin-top: 15px;

  ul {
    list-style-type: none;
    padding-inline-start: 20px;
    height: 120px;
  }

  li {
    padding: 5px;
  }

  .product-name {
    font-size: small;
    font-weight: bold;
    text-align: left;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    width: 20px;
  }

  .product-price {
    color: $darkred;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
  }

  .delete-button {
    height: 30px;
    width: 50px;
    border-radius: 10px;
    margin-top: 60px;
    font-size: medium;
    font-weight: bold;
  }

  finished-order-text {
    font-weight: bold;
    font-size: 1rem;
  }
}
