<div>
  <div class="summary-payment">Podsumowanie płatności</div>
  <div class="amount">{{ cartAmount | priceFormat }}</div>
  <div *ngIf="!finishedOrder">
    <button class="btn-success payment-button" [routerLink]="['checkout-1']">
      Przejdź do płatności
    </button>
  </div>
</div>
