<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="shopName" routerLink="/home">
    <img src="assets\logo.png" class="align-center" alt="KKWJ-Logo" />
    <div class="supplyShop">{{ shopName }}</div>
  </a>

  <button
    class="navbar-toggler mr-2 mt-3"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse justify-content-center"
  >
    <ul class="navbar-nav centerOptions list-unstyled">
      <li class="nav-item">
        <a type="radio" class="nav-link" routerLink="/home"
          >{{ home }}<span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about">{{ aboutUs }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">{{ contact }}</a>
      </li>
    </ul>

    <div class="login mr-2">
      <div *ngIf="isAuthenticated(); then logged; else notLogged"></div>
      <div
        class="added-product-dialog"
        *ngIf="(showAddedProductDialog$ | async | json) != '{}'"
      >
        <app-added-product-dialog></app-added-product-dialog>
      </div>
    </div>
  </div>
</nav>

<ng-template #notLogged>
  <app-not-logged-header-content></app-not-logged-header-content>
</ng-template>

<ng-template #logged>
  <app-logged-header-content></app-logged-header-content>
</ng-template>
