@import "src/styles/variables";

.navbar {
  min-height: 50px;

  .shopName {
    font-family: Impact, serif;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    font-size: 2em;
    margin-left: 5px;
    margin-right: 1rem;
    text-decoration: none;
    color: $white;
    position: absolute;

    .supplyShop {
      margin-left: 5px;
    }
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }

  .centerOptions {
    font-size: large;
    font-weight: bold;
  }
}

.added-product-dialog {
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 5px;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus {
  color: $white;
}

@media screen and (max-width: 991px) {
  .login {
    display: block;
    left: 0;
  }

  .centerOptions {
    margin-top: 50px;
    justify-content: left;
  }
}

@media screen and (min-width: 992px) {
  .login {
    right: 0;
    position: absolute;
  }
}
