button {
  height: 50px;
  font-size: medium;
}

.cancel-button-wrapper {
  position: absolute;
  right: -15px;
  top: -25px;
  font-weight: bold;

  .cancel-button {
    text-align: center;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
  }
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
}
