<div class="col-12">
  <div class="cancel-button-wrapper" *ngIf="addresses">
    <button
      *ngIf="isAuthenticated && addresses.length !== 0"
      class="btn-danger cancel-button"
      (click)="closeDialog()"
    >
      X
    </button>
  </div>
  <div class="mt-3 text-center title">Standardowa wysyłka</div>
  <div class="mt-3 font-italic h4">Wprowadź poniżej adres wysyłki</div>
  <form [formGroup]="addressFormGroup" (ngSubmit)="submit()">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="firstName"
        ><em class="fa fa-user"></em
      ></span>
      <input
        type="text"
        name="firstName"
        class="form-control"
        formControlName="firstName"
        placeholder="Imię*"
        aria-describedby="firstName"
      />
      <input
        type="text"
        name="lastName"
        class="form-control"
        formControlName="lastName"
        placeholder="Nazwisko*"
        aria-describedby="basic-addon1"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then nameValidation"></div>
      </div>
    </div>
    <!-- form-group// -->

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="email"
        ><em class="fa fa-envelope"></em
      ></span>
      <input
        name="email"
        type="email"
        class="form-control"
        formControlName="email"
        appBlockCopyPaste
        placeholder="Email*"
        aria-describedby="email"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then emailValidations"></div>
      </div>
    </div>
    <!-- form-group// -->

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="phone"
        ><em class="fa fa-phone"></em
      ></span>
      <input
        type="text"
        name="phoneNumber"
        class="form-control"
        placeholder="Telefon"
        formControlName="phoneNumber"
        maxlength="11"
        aria-describedby="phone"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then phoneValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="street"
        ><em class="fa fa-home"></em
      ></span>
      <input
        type="text"
        name="street"
        class="form-control"
        placeholder="Adres*"
        formControlName="street"
        aria-describedby="street"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then streetValidation"></div>
      </div>
    </div>
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="building"
        ><em class="fa fa-building"></em
      ></span>
      <input
        name="city"
        type="text"
        placeholder="Miasto*"
        class="form-control"
        formControlName="city"
      />
      <input
        name="postCode"
        type="text"
        placeholder="Kod pocztowy*"
        class="form-control"
        formControlName="postCode"
        maxlength="6"
        appPostCodeInput
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then cityValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="country"
        ><em class="fa fa-flag"></em
      ></span>
      <select
        name="country"
        class="form-select"
        aria-describedby="country"
        formControlName="country"
      >
        <option value="" disabled selected>Wybierz kraj:</option>
        <option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </option>
      </select>
      <div class="errors">
        <div *ngIf="errors.length === 0; then countryValidation"></div>
      </div>
    </div>
    <div class="errors">
      <div *ngIf="notValidatedFormMessage && serverApproved === false">
        {{ notValidatedFormMessage }}
      </div>
    </div>
    <div class="mb-3">
      <mat-checkbox [checked]="false" (change)="changeCheckbox()">
        <span><strong>Fakturka?</strong></span>
      </mat-checkbox>
      <div class="mb-3" *ngIf="requireInvoice">
        <app-invoice #invoice (isValid)="isValid($event)"></app-invoice>
      </div>
    </div>
    <div *ngIf="addresses">
      <div class="form-group" *ngIf="!isAuthenticated">
        <button
          type="submit"
          class="btn btn-success btn-block w-100"
          [disabled]="
            addressFormGroup.invalid || (requireInvoice && !isInvoiceValid)
          "
        >
          Przejdź do opcji płatności
        </button>
      </div>
      <!-- form-group// -->
    </div>
    <div *ngIf="addresses">
      <div class="form-group" *ngIf="isAuthenticated && addresses.length === 0">
        <button
          type="submit"
          class="btn btn-success btn-block w-100"
          [disabled]="
            addressFormGroup.invalid ||
            (requireInvoice && invoice?.invoiceForm.invalid)
          "
        >
          Przejdź do opcji płatności
        </button>
      </div>
      <!-- form-group// -->
    </div>
    <div *ngIf="addresses">
      <div
        class="form-group"
        *ngIf="
          isAuthenticated && address.id !== undefined && addresses.length != 0
        "
      >
        <button
          (click)="editAddress(address)"
          class="btn btn-success btn-block"
          [disabled]="addressFormGroup.invalid"
        >
          Edytuj adres
        </button>
      </div>
      <!-- form-group// -->
    </div>
  </form>
</div>

<ng-template #nameValidation>
  <div
    *ngIf="
      (!addressFormGroup.get('firstName').value &&
        !addressFormGroup.get('firstName').untouched) ||
      (!addressFormGroup.get('lastName').value &&
        !addressFormGroup.get('lastName').untouched)
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #emailValidations>
  <div
    *ngIf="
      !addressFormGroup.get('email').value &&
      !addressFormGroup.get('email').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      addressFormGroup.get('email').errors &&
      addressFormGroup.get('email').errors.pattern &&
      !addressFormGroup.get('email').untouched
    "
  >
    {{ emailValidation }}
  </div>
</ng-template>

<ng-template #phoneValidation>
  <div
    *ngIf="
      !addressFormGroup.get('phoneNumber').value &&
      !addressFormGroup.get('phoneNumber').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      addressFormGroup.get('phoneNumber').errors &&
      addressFormGroup.get('phoneNumber').errors.pattern &&
      !addressFormGroup.get('phoneNumber').untouched
    "
  >
    {{ phoneNumberValidation }}
  </div>
</ng-template>

<ng-template #streetValidation>
  <div
    *ngIf="
      !addressFormGroup.get('street').value &&
      !addressFormGroup.get('street').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #cityValidation>
  <div
    *ngIf="
      (!addressFormGroup.get('city').value &&
        !addressFormGroup.get('city').untouched) ||
      (!addressFormGroup.get('postCode').value &&
        !addressFormGroup.get('postCode').untouched)
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      addressFormGroup.get('postCode').errors &&
      addressFormGroup.get('postCode').errors.pattern &&
      !addressFormGroup.get('postCode').untouched
    "
  >
    {{ postCodeValidation }}
  </div>
</ng-template>

<ng-template #countryValidation>
  <div
    *ngIf="
      !addressFormGroup.get('country').value &&
      !addressFormGroup.get('country').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>
