.formHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.messageHeader {
  font-size: 20px;
  text-align: center;
}

.labelForm {
  text-align: left;
  font-size: medium;
}

textarea {
  min-height: 100px;
  max-height: 200px;
}

.dropdown {
  width: 40px;
  height: 30px;
  font-size: medium;
  text-align: center;
}

li {
  text-align: center;
  padding: 20px;
  font-size: 10px;

  .glyphicon {
    font-size: 35px;
    padding: 10px;
  }
}

agm-map {
  height: 350px;
  width: 350px;
}

button {
  font-size: medium;
  width: 100%;
  height: 100%;
}
