<div class="container-fluid">
  <div class="formHeader">
    <p>{{ title }}</p>
  </div>

  <div class="messageHeader">
    {{ message }}
  </div>

  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="mx-auto">
          <form [formGroup]="contactForm" (ngSubmit)="submit()">
            <div class="md-form mb-3">
              <label for="email" class="labelForm">{{
                contactLabelEmail
              }}</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                formControlName="email"
              />
              <div class="errors">
                <div
                  *ngIf="
                    errors.length === 0;
                    then emailFrontendValidation;
                    else emailBackendValidation
                  "
                ></div>
              </div>
            </div>

            <div class="md-form mb-3">
              <label for="details" class="labelForm">{{
                contactLabelMessage
              }}</label>
              <textarea
                id="details"
                name="details"
                class="form-control"
                formControlName="details"
              ></textarea>

              <div class="errors">
                <div
                  *ngIf="
                    errors.length === 0;
                    then detailsFrontendValidation;
                    else detailsBackendValidation
                  "
                ></div>
              </div>
            </div>

            <div class="md-form mb-3">
              <label for="grade" class="labelForm">{{
                contactLabelGrade
              }}</label>
              <p>
                <select id="grade" formControlName="grade" class="dropdown">
                  <option *ngFor="let grade of grades" [value]="grade">
                    {{ grade }}
                  </option>
                </select>
              </p>
            </div>

            <div class="g-recaptcha pb-3">
              <re-captcha
                (resolved)="resolveRecaptcha()"
                siteKey="6Lf9EO8UAAAAAEM7DSCU_UFfGV-FzegjENyV1A3g"
                formControlName="recaptcha"
              ></re-captcha>
              <div class="errors">
                <div
                  *ngIf="errors.length !== 0; then recaptchaBackendValidation"
                ></div>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="contactForm.invalid"
              class="btn btn-success"
            >
              {{ sendButton }}
            </button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <ul class="list-unstyled">
          <li>
            <span class="glyphicon glyphicon-home"></span>
            <p>{{ companyAddress }}</p>
          </li>

          <li>
            <span class="glyphicon glyphicon-earphone"></span>
            <p>{{ companyPhone }}</p>
          </li>

          <li>
            <span class="glyphicon glyphicon-envelope"></span>
            <p>{{ companyEmail }}</p>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4689.123025794876!2d17.037098176397347!3d51.12423443112495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9c28098cb29%3A0xd379733bf010dd1b!2sSP%20ZOZ%20MSWiA%20we%20Wroc%C5%82awiu!5e0!3m2!1spl!2spl!4v1652118504814!5m2!1spl!2spl"
          width="100%"
          height="100%"
          title="map"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<ng-template #emailFrontendValidation>
  <div
    *ngIf="
      !contactForm.get('email').value && !contactForm.get('email').untouched
    "
  >
    {{ fieldValidation }}
  </div>

  <div
    *ngIf="
      contactForm.get('email').errors &&
      contactForm.get('email').errors.pattern &&
      !contactForm.get('email').untouched
    "
  >
    {{ emailValidation }}
  </div>
</ng-template>

<ng-template #emailBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'email' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
    <div *ngIf="error.field === 'email' && error.code === 'Email'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #detailsFrontendValidation>
  <div
    *ngIf="
      !contactForm.get('details').value && !contactForm.get('details').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      contactForm.get('details').errors &&
      contactForm.get('details').errors.minlength &&
      !contactForm.get('details').untouched
    "
  >
    {{ detailsValidation }}
  </div>
</ng-template>

<ng-template #detailsBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'details' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
    <div *ngIf="error.field === 'details' && error.code === 'Size'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #recaptchaBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'recaptcha' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
    <div *ngIf="error.field === 'recaptcha' && error.code === 'AssertTrue'">
      {{ error.message }}
    </div>
  </div>
</ng-template>
