@import "src/styles/variables";

.regulation-container {
  position: relative;
  height: 150px;

  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    font-size: 10px;
  }

  button {
    height: 40px;
    width: 130px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    right: 5px;
  }

  button:disabled,
  button[disabled] {
    border: 1px solid $grey;
    background-color: $white;
    color: $greyy;
  }
}
