<div class="regulation-container">
  <h5>Przejrzyj szczegóły zamówienia przed jego złożeniem.</h5>
  <mat-checkbox (change)="acceptRegulationPolicy()">
    Oświadczam, że znam i akceptuję
    <a href="../../../assets/regulations.pdf" download="regulations.pdf"
      >Regulamin KKWJ Store</a
    >
  </mat-checkbox>
  <div class="errors">
    <div *ngIf="errors.length === 0">
      <div *ngIf="!regulationIsAccepted && isTouched">
        {{ fieldValidation }}
      </div>
    </div>
  </div>
  <p>
    KKWJ przetwarza Twoje dane osobowe zgodnie z informacją o
    <a href="../../../assets/personal_data.pdf" download="personal_data.pdf"
      >polityce prywatności firmy KKWJ</a
    >. Przysługuje Ci prawo sprzeciwu wobec niektórych czynności przetwarzania
    Twoich danych osobowych. Więcej informacji znajdziesz w sekcji 'Twoje prawa'
    w Informacji o polityce prywatności.
  </p>
  <button
    class="btn-success btn-lg"
    (click)="submitCheckout()"
    [disabled]="!regulationIsAccepted"
  >
    Złóż zamówienie
  </button>
</div>
