<div class="container justify-content-center">
  <div class="col-12">
    <div class="title">
      Moje adresy
      <div *ngIf="addresses.controls.length === 0">Brak Adresów!</div>
    </div>
    <div class="button-wrapper">
      <button
        class="btn btn-success"
        (click)="addAddress()"
        [disabled]="isEditableForm"
      >
        Dodaj adres
      </button>
    </div>
    <div *ngIf="addresses.controls.length !== 0">
      <form class="d-flex row" [formGroup]="addressesForm">
        <div
          class="col-4"
          formArrayName="addresses"
          *ngFor="let address of addresses.controls; let i = index"
        >
          <div [formGroupName]="i">
            <app-single-address-form
              [userAddress]="address"
            ></app-single-address-form>
            <div class="btn-group w-100" role="group">
              <button
                class="btn btn-success"
                *ngIf="!addresses.at(i).disabled"
                [disabled]="addresses.at(i).invalid"
                (click)="saveAddress(i)"
              >
                Zapisz
              </button>
              <button
                class="btn btn-primary"
                *ngIf="addresses.at(i).disabled"
                [disabled]="isEditableForm"
                (click)="editAddress(i)"
              >
                Edytuj
              </button>
              <button class="btn btn-danger" (click)="deleteAddress(i)">
                Usuń
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
