<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="mt-5">
  <form [formGroup]="userAddress">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="street"
        ><em class="fa fa-road"></em
      ></span>
      <input
        class="form-control"
        placeholder="Ulica*"
        type="text"
        formControlName="street"
        aria-describedby="street"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then streetValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="city"
        ><em class="fa fa-home"></em
      ></span>
      <input
        class="form-control"
        placeholder="Miasto*"
        type="text"
        formControlName="city"
        aria-describedby="city"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then cityValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="postCode"
        ><em class="fa fa-envelope"></em
      ></span>
      <input
        class="form-control"
        placeholder="Kod pocztowy*"
        type="text"
        appPostCodeInput
        maxlength="6"
        formControlName="postCode"
        aria-describedby="postCode"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then postCodeValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="country"
        ><em class="fa fa-flag"></em
      ></span>
      <input
        class="form-control"
        placeholder="Kraj*"
        type="text"
        formControlName="country"
        aria-describedby="country"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then countryValidation"></div>
      </div>
    </div>
  </form>
</div>

<ng-template #streetValidation>
  <div
    *ngIf="
      !userAddress.get('street').value && !userAddress.get('street').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #cityValidation>
  <div
    *ngIf="!userAddress.get('city').value && !userAddress.get('city').untouched"
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #postCodeValidation>
  <div
    *ngIf="
      !userAddress.get('postCode').value &&
      !userAddress.get('postCode').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      userAddress.get('postCode').errors &&
      userAddress.get('postCode').errors.pattern &&
      !userAddress.get('postCode').untouched
    "
  >
    {{ postCodeValidationMessage }}
  </div>
</ng-template>

<ng-template #countryValidation>
  <div
    *ngIf="
      !userAddress.get('country').value && !userAddress.get('country').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>
