<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>
<div *ngIf="address">
  <div class="col-12">
    <div *ngIf="isAuthenticated">
      <div
        *ngIf="
          addresses.length === 0;
          then isAuthWithoutAddresses;
          else isAuthWithAddresses
        "
      ></div>
    </div>
    <div *ngIf="!isAuthenticated; then isNotAuth"></div>
  </div>
</div>

<ng-template #isAuthWithAddresses>
  <app-address-list
    (changeStep)="setStep(1)"
    (addressEmitter)="setDelivery($event)"
  ></app-address-list>
</ng-template>

<ng-template #isAuthWithoutAddresses>
  <app-address-form
    (changeStep)="setStep(1)"
    (addressEmitter)="setDelivery($event)"
    (invoiceEmitter)="setInvoice($event)"
    [address]="address"
  ></app-address-form>
</ng-template>

<ng-template #isNotAuth>
  <app-address-form
    (changeStep)="setStep(1)"
    (addressEmitter)="setDelivery($event)"
    (invoiceEmitter)="setInvoice($event)"
    [address]="address"
  ></app-address-form>
</ng-template>
