@import "src/styles/variables";

button {
  height: 50px;
  font-size: medium;
}

label {
  font-size: 15px;
}

.successMessage {
  color: $green;
  font-weight: bold;
}

.elo {
  border: $red 2px solid;
}
