<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div>
  <label>{{ title }}</label>
  <form
    [formGroup]="personalDataFormGroup"
    (ngSubmit)="editPersonalData()"
    *ngIf="personalDataFormGroup"
  >
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="firstName"
        ><em class="fa fa-user"></em
      ></span>
      <input
        type="text"
        name="firstName"
        class="form-control"
        formControlName="firstName"
        placeholder="Imię*"
        aria-describedby="firstName"
      />
      <input
        type="text"
        name="lastName"
        class="form-control"
        formControlName="lastName"
        placeholder="Nazwisko*"
        aria-describedby="basic-addon1"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then nameFrontendValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="email"
        ><em class="fa fa-envelope"></em
      ></span>
      <input
        name="email"
        type="email"
        class="form-control"
        formControlName="email"
        appBlockCopyPaste
        aria-describedby="email"
      />
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="birthDate"
        ><em class="fa fa-birthday-cake"></em
      ></span>
      <input
        name="birthDate"
        type="date"
        class="form-control"
        formControlName="birthDate"
        placeholder="Data urodzenia*"
        aria-describedby="birthDate"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then birthFrontendValidation"></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="phone"
        ><em class="fa fa-phone"></em
      ></span>
      <input
        type="text"
        name="phoneNumber"
        class="form-control"
        placeholder="Telefon"
        formControlName="phoneNumber"
        aria-describedby="phone"
      />
    </div>

    <div>
      <button
        type="submit"
        class="btn btn-success btn-block w-100"
        [disabled]="personalDataFormGroup.invalid"
      >
        {{ editDataButton }}
      </button>
      <div class="successMessage">{{ successMessage }}</div>
    </div>
    <!-- form-group// -->
  </form>
</div>

<ng-template #nameFrontendValidation>
  <div
    *ngIf="
      (!personalDataFormGroup.get('firstName').value &&
        !personalDataFormGroup.get('firstName').untouched) ||
      (!personalDataFormGroup.get('lastName').value &&
        !personalDataFormGroup.get('lastName').untouched)
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #birthFrontendValidation>
  <div
    *ngIf="
      !personalDataFormGroup.get('birthDate').value &&
      !personalDataFormGroup.get('birthDate').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      personalDataFormGroup.get('birthDate').errors &&
      personalDataFormGroup.get('birthDate').errors.pattern &&
      !personalDataFormGroup.get('birthDate').untouched
    "
  >
    Data jest w złym formacie
  </div>
</ng-template>
