<div>
  <form [formGroup]="changePasswordFormGroup" (ngSubmit)="changePassword()">
    <label>Stare hasło</label>
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="oldPassword"
        ><em class="fa fa-lock"></em
      ></span>
      <input
        name="oldPassword"
        class="form-control"
        appConfirmPassword="password"
        appBlockCopyPaste
        type="password"
        formControlName="oldPassword"
        aria-describedby="oldPassword"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then oldPassValidation"></div>
      </div>
    </div>
    <!-- form-group// -->

    <label>Nowe hasło</label>
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="newPassword"
        ><em class="fa fa-lock"></em
      ></span>
      <input
        name="newPassword"
        class="form-control"
        appBlockCopyPaste
        type="password"
        formControlName="newPassword"
        aria-describedby="newPassword"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then newPassValidation"></div>
      </div>
      <app-password-strength
        [passwordToCheck]="changePasswordFormGroup.value.newPassword"
        (passwordStrength)="passwordValid($event)"
      ></app-password-strength>
    </div>

    <label>Powtórz nowe hasło</label>
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="repeatedNewPassword"
        ><em class="fa fa-lock"></em
      ></span>
      <input
        name="repeatedNewPassword"
        class="form-control"
        type="password"
        formControlName="repeatedNewPassword"
        appBlockCopyPaste
        appConfirmPassword="newPassword"
        aria-describedby="repeatedNewPassword"
      />
      <div class="errors">
        <div *ngIf="errors.length === 0; then confirmedPassValidation"></div>
      </div>
    </div>
    <!-- form-group// -->

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-danger btn-block w-100"
        [disabled]="changePasswordFormGroup.invalid"
      >
        {{ changePasswordButton }}
      </button>
    </div>
    <!-- form-group// -->
    <div class="successMessage">{{ changedPasswordMessage }}</div>
  </form>
</div>

<ng-template #oldPassValidation>
  <div
    *ngIf="
      !changePasswordFormGroup.get('oldPassword').value &&
      !changePasswordFormGroup.get('oldPassword').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      changePasswordFormGroup.controls['oldPassword'].hasError(
        'oldPasswordIsDifferent'
      ) && !changePasswordFormGroup.get('oldPassword').untouched
    "
  >
    {{ oldPasswordValidation }}
  </div>
</ng-template>

<ng-template #newPassValidation>
  <div
    *ngIf="
      !changePasswordFormGroup.get('newPassword').value &&
      !changePasswordFormGroup.get('newPassword').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      changePasswordFormGroup.get('newPassword').errors &&
      changePasswordFormGroup.get('newPassword').errors.pattern &&
      !changePasswordFormGroup.get('newPassword').untouched
    "
  >
    {{ patternValidation }}
  </div>
</ng-template>

<ng-template #confirmedPassValidation>
  <div
    *ngIf="
      !changePasswordFormGroup.get('repeatedNewPassword').value &&
      !changePasswordFormGroup.get('repeatedNewPassword').untouched
    "
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      changePasswordFormGroup.controls['repeatedNewPassword'].hasError(
        'appConfirmPassword'
      ) && !changePasswordFormGroup.get('repeatedNewPassword').untouched
    "
  >
    {{ passwordValidation }}
  </div>
</ng-template>
