<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="row justify-content-center text-center">
  <div class="col-3">
    <app-change-personal-data-form></app-change-personal-data-form>
  </div>
  <div class="col-3 change-password">
    <app-change-password-form></app-change-password-form>
  </div>
</div>
