<div>
  <div>
    <app-ad-carousel></app-ad-carousel>
  </div>
  <div *ngFor="let productsKey of keys">
    <div *ngIf="productsKey === specials">
      <app-product-carousel
        [products]="getValuesFromMap(specials)"
        [title]="specials"
      ></app-product-carousel>
    </div>
    <div *ngIf="productsKey === cheapest">
      <app-product-carousel
        [products]="getValuesFromMap(cheapest)"
        [title]="cheapest"
      ></app-product-carousel>
    </div>
    <div *ngIf="productsKey === mostExpensive">
      <app-product-carousel
        [products]="getValuesFromMap(mostExpensive)"
        [title]="mostExpensive"
      ></app-product-carousel>
    </div>
    <div *ngIf="productsKey === tasty">
      <app-product-carousel
        [products]="getValuesFromMap(tasty)"
        [title]="tasty"
      ></app-product-carousel>
    </div>
  </div>
</div>
