<div class="dialog hideMe">
  Dodałeś produkt:
  <p class="m-0">
    {{ (product$ | async)?.name }}
  </p>
  <p class="m-0">waga: {{ (product$ | async)?.weight }} g</p>
  <p class="m-0">cena: {{ (product$ | async)?.price | priceFormat }}</p>
  <p class="m-0">smak: {{ (product$ | async)?.taste }}</p>
</div>
