<ul class="navbar-nav logAndCart">
  <li class="nav-item">
    <div ngbDropdown class="d-inline-block btn-group">
      <a
        routerLink="/my-account"
        class="nav-link"
        id="dropdownBasic1"
        ngbDropdownToggle
        >{{ myAccount }}<span class="glyphicon glyphicon-user"></span>
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/my-account/profile">
          Dane osobowe
        </button>
        <button ngbDropdownItem routerLink="/my-account/addresses">
          Moje adresy
        </button>
        <button ngbDropdownItem routerLink="/my-account/orders">
          Historia zamówień
        </button>
        <button ngbDropdownItem (click)="logoutUser()">{{ logout }}</button>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a routerLink="/order" class="nav-link"
      >{{ cart }}
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <div *ngIf="(quantity$ | async) > 0" class="numberCircle">
        {{ quantity$ | async }}
      </div>
    </a>
  </li>
</ul>
