@import "src/styles/variables";

.logAndCart {
  font-size: medium;
  font-weight: bold;
  color: $white;

  .btn-group:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    font-size: small;
  }
}
