<ul class="navbar-nav logAndCart">
  <li class="nav-item">
    <a routerLink="/register" class="nav-link"
      >{{ register }}<span class="glyphicon glyphicon-user"></span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/login" class="nav-link"
      >{{ login }}<span class="glyphicon glyphicon-log-in"></span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/order" class="nav-link"
      >{{ cart }}
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <div *ngIf="(quantity$ | async) > 0" class="numberCircle">
        {{ quantity$ | async }}
      </div></a
    >
  </li>
</ul>
