<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="error-template">
        <div class="text">
          {{ pageNotFoundMessage }}
        </div>
        <div class="error-details">
          {{ pageNotFound }}
        </div>
        <div class="error-actions">
          <button class="btn btn-primary" routerLink="/home">
            <span class="glyphicon glyphicon-home"></span> {{ home }}
          </button>
          <button class="btn btn-success" routerLink="/contact">
            <span class="glyphicon glyphicon-envelope"></span> {{ contact }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
