@import "../../../styles/variables";

.error-template {
  padding: 40px 15px;
  text-align: center;

  .text {
    font-size: 75px;
  }

  .error-details {
    font-size: 40px;
    color: $red;
  }

  .error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 45%;
      font-size: 15px;
    }
  }
}
