<div class="header">
  <div *ngIf="step >= index">
    <span class="numberCircle"><em class="fa fa-check"></em></span>
  </div>
  <div *ngIf="step < index">
    <span class="numberCircle">{{ index }}</span>
  </div>
  <h4>{{ title }}</h4>
  <div class="edit-button">
    <button
      class="btn-success"
      (click)="setStep(index - 1)"
      [hidden]="step < index"
    >
      Edytuj
    </button>
  </div>
</div>
