@import "src/styles/variables";

.header {
  display: flex;
  justify-content: space-between;

  .edit-button {
    font-weight: bold;
    position: absolute;
    right: 5px;
  }

  .numberCircle {
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: $green;
    color: $white;
    padding: 4px;
    text-align: center;
    font: 10px Arial;
    font-weight: bold;
  }
}
