.container {
  text-align: center;

  .text {
    font-size: x-large;
    text-align: center;
    margin-top: 150px;
    font-weight: bold;

    button {
      font-size: 30px;
      margin-top: 20px;
    }
  }
}
