<div class="container">
  <div class="text">{{ confirmRegister }}</div>
  <button class="btn btn-success" (click)="checkVerificationToken()">
    <span class="glyphicon glyphicon-ok"></span>
    {{ confirmRegisterButton }}
  </button>
</div>
