.main-frame {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }
}
