<div class="main-frame">
  <div class="title">Koszyk</div>
  <div>Aktualnie w Twoim koszyku nie ma żadnych produktów</div>
  <button [routerLink]="['../home']" class="btn-success d-inline-block w-100">
    Kontynuuj zakupy
  </button>
</div>
