<div class="col-6">
  <div *ngFor="let product of currentOrder.orderProducts">
    <app-cart-product
      [product]="product"
      [finishedOrder]="false"
      (add)="addToOrder($event)"
      (subtract)="subtractFromOrder($event)"
      (delete)="deleteFromOrder($event)"
    ></app-cart-product>
  </div>
</div>
<div class="payment">
  <app-cart-payment [cartAmount]="currentOrder.amount"></app-cart-payment>
</div>
