<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <button class="content flex-fill" routerLink="/my-account/profile">
        <span class="text-prop">
          {{ profile }}
          <span
            class="glyphicon glyphicon-user d-flex justify-content-center mt-3"
          ></span>
        </span>
      </button>
    </div>

    <div class="col">
      <button class="content flex-fill" routerLink="/my-account/addresses">
        <span class="text-prop">
          {{ addresses }}
          <span
            class="glyphicon glyphicon-home d-flex justify-content-center mt-3"
          ></span>
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="content flex-fill" routerLink="/my-account/orders">
        <span class="text-prop">
          {{ orders }}
          <span
            class="glyphicon glyphicon-usd d-flex justify-content-center mt-3"
          ></span>
        </span>
      </button>
    </div>

    <div class="col">
      <button
        class="content flex-fill"
        routerLink="/home"
        (click)="logoutUser()"
      >
        <span class="text-prop">
          {{ logOut }}
          <span
            class="glyphicon glyphicon-log-out d-flex justify-content-center mt-3"
          ></span>
        </span>
      </button>
    </div>
  </div>
</div>
