@import "src/styles/variables";

.row {
  margin-top: 100px;

  .col {
    text-align: center;

    .content {
      border: 5px solid $green;
      border-radius: 10px;
      justify-content: center;
      padding: 0;
      text-align: center;
      height: 100px;
      width: 170px;

      .text-prop {
        font-weight: bold;
        font-style: italic;
        color: $black;
        height: 30px;
        font-size: large;
      }
    }

    button {
      padding: 0;
      border: none;
      background: none;
      width: 150px;
    }
  }
}
