<div>
  <form [formGroup]="invoiceForm">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="companyName"
        ><em class="fa fa-building"></em
      ></span>
      <input
        name="companyName"
        type="text"
        class="form-control"
        formControlName="companyName"
        placeholder="Nazwa firmy*"
        aria-describedby="companyName"
      />
      <div class="errors">
        <div
          *ngIf="
            invoiceForm.controls['companyName'].errors?.length !== 0;
            then companyName
          "
        ></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="nip"
        ><em class="fa fa-file"></em
      ></span>
      <input
        name="nip"
        type="text"
        class="form-control"
        formControlName="nip"
        appBlockCopyPaste
        placeholder="NIP*"
        aria-describedby="nip"
      />
      <div class="errors">
        <div
          *ngIf="invoiceForm.controls['nip'].errors?.length !== 0; then nip"
        ></div>
      </div>
    </div>

    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="companyAddress"
        ><em class="fa fa-home"></em
      ></span>
      <input
        name="companyAddress"
        type="text"
        class="form-control"
        formControlName="companyAddress"
        placeholder="Adres firmy*"
        aria-describedby="companyAddress"
      />
      <div class="errors">
        <div
          *ngIf="
            invoiceForm.controls['companyAddress'].errors?.length !== 0;
            then companyAddress
          "
        ></div>
      </div>
    </div>
  </form>
</div>

<ng-template #companyName>
  <div
    *ngIf="
      !invoiceForm.get('companyName').value &&
      !invoiceForm.get('companyName').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #nip>
  <div
    *ngIf="!invoiceForm.get('nip').value && !invoiceForm.get('nip').untouched"
  >
    {{ fieldValidation }}
  </div>
  <div
    *ngIf="
      invoiceForm.get('nip').errors &&
      invoiceForm.get('nip').errors.pattern &&
      !invoiceForm.get('nip').untouched
    "
  >
    {{ nipValidation }}
  </div>
</ng-template>

<ng-template #companyAddress>
  <div
    *ngIf="
      !invoiceForm.get('companyAddress').value &&
      !invoiceForm.get('companyAddress').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>
