<div class="container">
  <div class="text">{{ confirmedRegister }}</div>

  <div class="buttons">
    <button class="btn btn-success" routerLink="/login">
      <span class="glyphicon glyphicon-user"></span>{{ login }}
    </button>
    <button class="btn btn-success ml-5" routerLink="/home">
      <span class="glyphicon glyphicon-home"></span>{{ home }}
    </button>
  </div>
</div>
