@import "src/styles/variables";

.title {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 3%;
  text-align: center;
}

.login-button {
  height: 50px;
  padding-bottom: 15px;

  button {
    font-size: 15px;
  }
}

.regulation {
  font-style: italic;
  font-size: 10px;
  color: $grey;
  text-align: center;
}

p {
  font-size: medium;
  font-style: italic;
}
