<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container">
  <div class="mx-auto">
    <div class="title">{{ title }}</div>
    <form [formGroup]="loginFormGroup" (ngSubmit)="submit()">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="basic-addon1"
          ><em class="fa fa-envelope"></em
        ></span>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Email*"
          aria-label="Email"
          aria-describedby="basic-addon1"
        />
        <div class="errors">
          <div
            *ngIf="
              errors.length === 0;
              then emailFrontendValidation;
              else emailBackendValidation
            "
          ></div>
        </div>
      </div>

      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="basic-addon2"
          ><em class="fa fa-lock"></em
        ></span>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          appBlockCopyPaste
          placeholder="Hasło*"
          name="password"
          aria-label="Password"
          aria-describedby="basic-addon2"
        />
        <div class="errors">
          <div
            *ngIf="
              errors.length === 0;
              then passwordFrontendValidation;
              else passwordBackendValidation
            "
          ></div>
        </div>
      </div>
      <!-- form-group// -->

      <p class="text-center">
        <a routerLink="/password/forget">{{ forgetPassword }} </a>
      </p>
      <p class="regulation">
        Zalogowanie się oznacza zaakceptowanie następujących dokumentów firmy
        KKWJ: Zasady ochrony prywatności i Warunki korzystania.
      </p>
      <div class="login-button">
        <button
          type="submit"
          [disabled]="loginFormGroup.invalid"
          class="btn btn-success btn-block w-100 h-100"
        >
          {{ loginButton }}
        </button>
        <div class="errors">
          <div *ngIf="badCredentials">{{ badCredentials }}</div>
        </div>
      </div>
      <p class="text-center">
        {{ dontHaveAccount }}<a routerLink="/register">{{ registerButton }}</a>
      </p>
    </form>
  </div>
</div>
<!--container end.//-->

<ng-template #emailFrontendValidation>
  <div
    *ngIf="
      !loginFormGroup.get('email').value &&
      !loginFormGroup.get('email').untouched
    "
  >
    {{ fieldValidation }}
  </div>

  <div
    *ngIf="
      loginFormGroup.get('email').errors &&
      loginFormGroup.get('email').errors.pattern &&
      !loginFormGroup.get('email').untouched
    "
  >
    {{ emailValidation }}
  </div>
</ng-template>

<ng-template #emailBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'email' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
    <div *ngIf="error.field === 'email' && error.code === 'Email'">
      {{ error.message }}
    </div>
  </div>
</ng-template>

<ng-template #passwordFrontendValidation>
  <div
    *ngIf="
      !loginFormGroup.get('password').value &&
      !loginFormGroup.get('password').untouched
    "
  >
    {{ fieldValidation }}
  </div>
</ng-template>

<ng-template #passwordBackendValidation>
  <div *ngFor="let error of errors">
    <div *ngIf="error.field === 'password' && error.code === 'NotNull'">
      {{ error.message }}
    </div>
  </div>
</ng-template>
