<div class="col-12">
  <div *ngIf="step >= 1 && address" class="row mt-4">
    <div class="col-4">
      <span class="title">Dane kupującego</span>
      <ul>
        <li>{{ address.firstName }}</li>
        <li>{{ address.lastName }}</li>
        <li>{{ address.email }}</li>
        <li>{{ address.phoneNumber }}</li>
      </ul>
    </div>
    <div class="col-4">
      <span class="title">Adres wysyłkowy</span>
      <ul>
        <li>{{ address.street }}</li>
        <li>{{ address.city }}</li>
        <li>{{ address.postCode }}</li>
        <li>{{ address.country }}</li>
      </ul>
    </div>
    <div class="col-4" *ngIf="invoice">
      <span class="title">Dane do faktury</span>
      <ul>
        <li>{{ invoice?.companyName || "" }}</li>
        <li>{{ invoice?.nip || "" }}</li>
        <li>{{ invoice?.companyAddress || "" }}</li>
      </ul>
    </div>
    <div class="col-4" *ngIf="!invoice">
      <span class="title">Brak faktury</span>
    </div>
  </div>
</div>
