@import "src/styles/variables";

ul {
  list-style: none;
  padding: 0;

  li {
    font-size: 12px;
    padding: 3px;
  }
}

.title {
  font-size: 15px;
  border-bottom: 1px solid $green;
  font-weight: bold;
}
